# Ucarp vip interface configuration

auto  {{ ucarp__interface }}:ucarp
iface {{ ucarp__interface }}:ucarp inet static
        address {{ ucarp__vip | mandatory }}
        netmask {{ ucarp__vip_netmask }}
